/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --white-color: #FFFFFF; 
    --black-color: #000000;
    --border-color: #D9D9D9;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
    margin-top: 32px;
}

.card {
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}
a {
    font-size: 16px;
    text-decoration: none;
    color: var(--black-color);
}
h1 {
    font-size: 22px;
}
h2 {
    font-size: 18px;
}


/****** Header et NavBar ***********/
header img {
    height: 19px;
    margin-top: 30px;
}
header img:hover {
    height: 20px;
    font-weight: bolder;
}

header {
  margin-bottom: 23px;
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    
}  
.le_bloc_menu_nav{
    list-style-type: none;
    display: flex;
}  
.le_menu_nav {
    display: flex;
    list-style: none;
    margin-top: -10px;
}
.le_menu_nav li {
    margin: 0 0 0 50px; 
    text-align: center;
}
.menu_nav:before {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--main-color);
    margin-bottom: 40px;
    transition: width 0.6s;
    transform: scaleX(1.5);
}
.menu_nav:hover {
    color: var(--main-color);
}
.menu_nav:active::before{
    content: "";
    display: block;
    height: 3px;
}
.menu_nav:hover:before {
    width: 100%;
}


/****** Recherche ***********/
#le_bloc_principal {
    display: flex;
    flex-direction: column;
    align-content: baseline;
}
.recherche {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.recherche h1 {
    margin-bottom: 11px;
}
.recherche_soustitre{
    margin-top: 0;
}
.recherche_bloc {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}
.recherche_input {
    height: 49px;
    width: 190px;
    border-top: solid 1px var(--white-color);
    border-bottom: solid 1px var(--white-colorr);
    border-left: none;
    border-right: none;
    margin-top: 2px;
    line-height: 21px;
    font-weight: bold;
    font-size: 18px;
}
.recherche_input::placeholder {
    font-size: 18px;
    color: var(--black-color);
    font-weight: bold;
    padding-left: 10px;
}
.recherche_bouton {
    border-style: none;
    height: 49px;
    width: 132px;
    border-radius: 0 15px 15px 0;
    background: var(--main-color);
    color: var(--white-color);
    font-size: 12px;
    font-weight: bold;
}
.recherche_bouton:hover {
    background: var(--main-color);
  
    transition: 0.2s;
}
.recherche_bouton span::after {
    content:'Rechercher';
    font-size: 15px;
}
.recherche_forme_mobile{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fa-map-marker-alt {
    background: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
    height: 49px;
    width: 50px;
}
.fa-map-marker-alt:hover {
    background:var(--main-bg-color);
    color: var(--main-color);
}

/****** Filtres ***********/
#economique_filtre, #nos_pepites_filtre, #familial_filtre, #romantique_filtre {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 19px;
    gap: 10px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    flex: none;
    flex-grow: 0;
    margin-right: 10px;
}

#economique_filtre:hover,
#familial_filtre:hover,
#romantique_filtre:hover,
#nos_pepites_filtre:hover {
    background: #DEEBFF;
}
.titres_filtres {
    font-weight: 700;
}
#economique_filtre {
    margin-left: 15px;
}
.menu_filtres,
.filtres {
    display: flex;
    margin-top: 15px;
    align-items: baseline;
}
.filters_titles {
    padding-left: 10px;
    padding-right: 10px;
    align-items: baseline;
    justify-content: center;
    flex-wrap: nowrap;
    font-size: 17px;

}
.fa-child{
    width: 13.44px;
    left: calc(50% - 13.44px/2 - 0.28px);
    top: calc(50% - 22px/2);
    color: var(--main-color);
    font-size: large;
    
    
}
.fa-money-bill-wave{
    left: 0%;
    right: 0%;
    top: 13.04%;
    bottom: 13.04%;
    color: var(--main-color);
    font-size: large;
    
}
.fa-heart{
    width: 22px;
    height: 18.33px;
    left: calc(50% - 22px/2);
    top: calc(50% - 18.33px/2 + 0.17px);
    color: var(--main-color);
    font-size: large;
}
.fa-fire-flame-curved{
    width: 18px;
    height: 20.08px;
    left: calc(50% - 18px/2 + 0.5px);
    top: calc(50% - 20.08px/2 + 0.04px);
    color: var(--main-color);
    font-size: large;
}
.fa-child:hover,.fa-money-bill-wave:hover,
.fa-heart:hover,
.fa-fire-flame-curved:hover {
    color: var(--main-color);
    transform: scale(1.3);
    cursor: pointer;
}

/****** icon info ***********/
.info {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.fa-info {
    margin-right: 10px;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white-color);
    border: solid 1px var(--main-bg-color);
    border-radius: 100px;
    padding: 3px 6px 3px 6px;
    font-size: 10px;
}
.fa-info:hover {
    background: var(--main-color);
    color: var(--white-color);
    cursor: pointer;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
#hebergements {
    width: 65%;
    
}
.afficher_plus {
  margin-top: 30px;
  margin-left: 10px;
  font-size: 16px;
}
.hebergements_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
}
.card_hebergements {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    background: white;
    box-shadow: 3px 3px 5px 2px white;
    border-radius: 20px;   
    width: 220px;
    min-width: 20%; 
    margin: 25px 2px 2px 6px;
    padding: 3px;
    flex-wrap: wrap;
}
.card_article {
    text-decoration: none;
    color: var(--black-color);
    display: flex;
    width: 33%;
}
.card_hebergements img {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    height: 124px;
    width: 100%;
}
.card_hebergements .card-content {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}
.titre_hebergement {
    margin-left: -11px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.populaires-title .section-title {
    margin-bottom: 6px;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
#activities_marseille {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.section-title-activites{
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 22px;
}

.blocs_activites {
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: space-between;
    margin: 0;
    width: 100%;

}
.card_activites {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 3px 3px 5px 2px #F2F2F2;
    margin-left: 3px;
    margin-right: 3px;
    width: 297.5px;
    height: 439px;
  }
  
  .card_activites:hover {
    transform: scale(1.1);
  }
  
  .blocs_activites img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
  .card_activites h3 {
    font-size: 16px;
    font-style: normal;
    padding-left: 14px;
    font-weight: 700;
    line-height: 19px;
}

/****** Footer ***********/
footer{
    background-color: var(--main-bg-color);
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    height: 163px;
}
/*justify-content: space-between;
padding-right: 20%;
padding-left: 20px;*/
.bloc_footer {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    width: 483px;
    height: 163px;
}
.bloc_footer_plus {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}
.bloc_footer_plus>li {
    margin-top: 10px;

}
.bloc_footer_plus a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 15px;
}
.bloc_footer_plus a:hover {
    color: var(--main-color);
}


